<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Meaghan's Reviews</title>
	<link rel="stylesheet" type="text/css" href="/netflix-reviews.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Arimo|Roboto" rel="stylesheet"></link>
</head>
<body>
	<header class="top-of-individual-page">
		<h1 id="left-align">Netflix Shows</h1>
		<h2 id="left-align" th:text="'- Review of ' + ${singleReview.getTitle()} + ' -'"></h2>
		<h3 id="right-align"><a href="http://localhost:8080/netflixtvshows">Back to all titles</a></h3>
	</header>

	<div class="block-of-info">
		<a href="http://localhost:8080/netflixtvshows"><img th:src="${singleReview.getImageUrl()}" th:alt="'Photo for ' + ${singleReview.getTitle()}" class="picture"/></a>
		<div class="category-year-review">
		<p th:text="${singleReview.getCategory()}" class="category"></p>
		<p th:text="${singleReview.getYear()}" class="year"></p>
		<p th:text="${singleReview.getMyReview()}" class="review"></p>
	</div>
</div>
</body>
<footer>
	<h5>All views and opinions are my own.</h5>
	<h5>Images do not belong to me.</h5>
	<h5>Site not endorsed by Netflix...</h5>
	<h6>though I'm not above selling my soul to watch Netflix Shows and write reviews about them if they want to pay me for it.</h6>
	<h5>&copy;2017 Meaghan Rea</h5>
</footer>
</html>