a:link {
	color: #f19f4d;
}
a:visited {
	color: #4484ce;	
}
a:hover {
	color: #4484ce;
}
a:active {
	color: #f9cf00;
}
body {
	background-color: #f19f4d;
	margin: auto;
	width: 60%;
	padding: auto;
}
.block-of-info, .title-content {
	border: 10px solid #4484ce;
	padding: 30px;
	background-color: #d9d9d9;
}
h1, h2, h3 {
	font-family: 'Arimo', cursive;
}
.category, .year, .content, .review, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
.picture {
	display: flex;
	justify-content: flex-start;
	border: 2px solid #f9cf00;
}
.block-of-info {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.picture {
	margin: 30px;
}
header, .block-of-info, .title-content {
	margin-bottom: 50px;
}
header, footer {
	background-color: #f9cf00;
	border: 10px solid #4484ce;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
#left-align #right-align {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}